html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

body { background-color: #EEE; }

.section { margin-bottom: 1em; }

.panel { background-color: #cfcfcf; padding: 1em; margin: 0 0 1em 0; }
.panel.closed { display: none; }
.panel.opened { display: block; }
.panel .row { margin-bottom: 1em; }

select, input, textarea { display: block; width: 100%; padding: 0.75em; border: 1px solid #AAA; border-radius: 4px; box-shadow: inset 2px 2px 2px #e4e4e4; }
textarea { width: 100%; height: 200px; padding: 1em; }

.btn { padding: 0.75em 2em; box-shadow: 0 2px 0 #115063; border-radius: 3px; border: 0; background-color: #219bc0; color: #FFF; text-shadow: 1px 1px 0 #000; font-weight: bold; }
.btn:active { position: relative; top: 2px; box-shadow: none; }